  .author {
    display: inline-block;
    width: 80%;
    font-style: italic;
    font-size: 12px;
  }
  .panel-body{
    background-color: lightblue;
  }
  .config {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    width: 19%;
  }
  a {
    padding: 2px;
  }
